@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
    --primaryColor: #0d6efd;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

.cart-btn {
    left: -18px;
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}
.container {
    background-color: #000;
}
.profile-news{
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.err{
    color:red;
}